// End Of Line
$EOL: '
';

// Credits
$PlastiCSS-credits: 
'Sass by Hampton Catlin, Nathan Weizenbaum, and Chris Eppstein - http://sass-lang.com'
'PlastiCSS by François Germain - https://github.com/cahnory/PlastiCSS-Sass';

// Add credit to css credits or display credits
// if no credit specified.
//
// @param string $credit
@mixin credits($credit: null) {
  @if type-of($credit) == string {
    $PlastiCSS-credits: append($PlastiCSS-credits, $credit);
  }
  @else if $PlastiCSS-credits != '' {
    credits {
      @each $credit in $PlastiCSS-credits {
        content: $credit;
      }
    }
  }
}

// SCSS "extends"
@import 'scss/list.scss';
@import 'scss/number.scss';